$containerWidth: 1280px;
$baseFontSize: 21px;

$tablets: 770px;
$phones: 490px;


//colors 

@import "./components/media.scss";

//normalize 
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");

//setups
@import url("https://fonts.googleapis.com/css2?family=Helvetica:ital,wght@0,300;0,400;0,700;1,400&display=swap");
@import "./layout.scss";

@import "./components/hero.scss";
@import "./components/huawei.scss";
@import "./components/server.scss";
@import "./components/expertise.scss";
@import "./components/eco.scss";
@import "./components/investment.scss";
@import "./components/map.scss";


